.mainheader {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(53, 53, 53, 0.767), rgba(54, 54, 54, 0.897)),
		url("6bxva8DmZvNj8kaVrQZZMP.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
}

body {
	background-color: rgb(24, 24, 24);
}

#forrest {
	margin-left: 0px;
	width: 30vw;
	height: auto;
}

h1 {
	color: white;
	margin: 20px;
	text-align: center;
	text-shadow: 3px 3px 10px black;
	font-family: "Kaushan Script";
	font-size: 90px;
}

.blur {
	background: linear-gradient(
		to top,
		transparent,
		rgb(24, 24, 24),
		rgba(29, 29, 29, 0.829),
		rgba(51, 51, 51, 0.411),
		rgba(48, 48, 48, 0.226),
		rgba(48, 48, 48, 0.05)
	);
	height: 70px;
	margin-top: -52px;
	z-index: 2;
}
